.header {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
.icon {
  margin: 30px 0;
  color: #5c48d3;
}
.title {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-left: 50px;
}
